*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 3840px;
    background-color: #FFFFFF;
}
.header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
.modulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    top: 50px;
    border-bottom: 2px solid #E0752F;
}
.modulo__logo{
    margin-left: 50px;
}
.modulo__img{
    max-width: 80px;
    position: absolute;   
    margin-top: -30px;
}
.modulo__ul{
    margin-right: 40px;
    margin-top: -30px;
}
.modulo__a{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}
.modulo__a:hover{
    background-color: #E0752F;
    border: solid 1px black;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
.perspiciatis{
    display: block;
    width: 42%;
    /*background-color: #E0752F;*/
    position: absolute;
    z-index: 5;
    margin-top: 10%;
    margin-left: 6%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.perspiciatis__contenh{
    text-align: left;
    width: 100%;
    
}
.perspiciatis__h1{
    width: 100%;
    height: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 2.1em;
    color: #FFFFFF;
    padding-bottom: 20px;
    line-height: 1;

}
.perspiciatis__h2{
    width: 100%;
    height: 150px;

    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #FFFFFF;
}
.perspiciatis__contenBoton{
    /*background-color: #E0752F;*/
    text-align: left;
    margin-top: -20%;
}
.perspiciatis__textoboton{
    text-align: left;
    background-color: #E0752F;
    border: solid rgb(255, 255, 255) ;
    border-radius: 3px;
    padding: 5px 8px ;
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
    font-family:'Roboto', medium;
}
.perspiciatis__textoboton:hover{
    background-color: #e4a57c;
}